{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html",
          "_app",
          ".gitignore",
          "*.db"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/granick.mastervision.su/art-of-speaking",
      "timeout": 10000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "ctimeMs": 1576329509903.4392,
          "date": "2020-06-13T15:57:09.821Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "ctimeMs": 1576329509905.4392,
          "date": "2020-06-13T15:57:10.226Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1592061392213.697,
          "ctimeMs": 1592061392213.697,
          "date": "2020-06-13T15:57:10.721Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1592063588557.7205,
          "ctimeMs": 1592063588557.7205,
          "date": "2020-06-13T15:57:11.828Z"
        },
        {
          "file": "fonts/Montserrat.eot",
          "mtimeMs": 1592021850000,
          "ctimeMs": 1592039930068.7664,
          "date": "2020-06-13T15:57:12.627Z"
        },
        {
          "file": "fonts/Montserrat.svg",
          "mtimeMs": 1592021850000,
          "ctimeMs": 1592039930061.7632,
          "date": "2020-06-13T15:57:13.711Z"
        },
        {
          "file": "fonts/Montserrat.ttf",
          "mtimeMs": 1592021850000,
          "ctimeMs": 1592039930053.7578,
          "date": "2020-06-13T15:57:14.492Z"
        },
        {
          "file": "fonts/Montserrat.woff",
          "mtimeMs": 1592021850000,
          "ctimeMs": 1592039930064.7654,
          "date": "2020-06-13T15:57:15.139Z"
        },
        {
          "file": "fonts/Montserrat.woff2",
          "mtimeMs": 1592021852000,
          "ctimeMs": 1592039930070.768,
          "date": "2020-06-13T15:57:15.774Z"
        },
        {
          "file": "fonts/MontserratBlack.eot",
          "mtimeMs": 1592021876000,
          "ctimeMs": 1592039943581.5044,
          "date": "2020-06-13T15:57:16.544Z"
        },
        {
          "file": "fonts/MontserratBlack.svg",
          "mtimeMs": 1592021876000,
          "ctimeMs": 1592039943574.4995,
          "date": "2020-06-13T15:57:17.505Z"
        },
        {
          "file": "fonts/MontserratBlack.ttf",
          "mtimeMs": 1592021876000,
          "ctimeMs": 1592039943567.4956,
          "date": "2020-06-13T15:57:18.254Z"
        },
        {
          "file": "fonts/MontserratBlack.woff",
          "mtimeMs": 1592021876000,
          "ctimeMs": 1592039943577.5034,
          "date": "2020-06-13T15:57:18.926Z"
        },
        {
          "file": "fonts/MontserratBlack.woff2",
          "mtimeMs": 1592021878000,
          "ctimeMs": 1592039943583.5056,
          "date": "2020-06-13T15:57:19.569Z"
        },
        {
          "file": "fonts/MontserratBold.eot",
          "mtimeMs": 1592021894000,
          "ctimeMs": 1592039913654.9507,
          "date": "2020-06-13T15:57:20.535Z"
        },
        {
          "file": "fonts/MontserratBold.svg",
          "mtimeMs": 1592021894000,
          "ctimeMs": 1592039913646.9458,
          "date": "2020-06-13T15:57:21.553Z"
        },
        {
          "file": "fonts/MontserratBold.ttf",
          "mtimeMs": 1592021894000,
          "ctimeMs": 1592039913638.9421,
          "date": "2020-06-13T15:57:22.314Z"
        },
        {
          "file": "fonts/MontserratBold.woff",
          "mtimeMs": 1592021894000,
          "ctimeMs": 1592039913649.948,
          "date": "2020-06-13T15:57:23.077Z"
        },
        {
          "file": "fonts/MontserratBold.woff2",
          "mtimeMs": 1592021896000,
          "ctimeMs": 1592039913656.9534,
          "date": "2020-06-13T15:57:23.753Z"
        },
        {
          "file": "img/backs/plan.png",
          "mtimeMs": 1592063622023.8298,
          "ctimeMs": 1592063622024.8308,
          "date": "2020-06-13T15:57:24.323Z"
        },
        {
          "file": "img/backs/wishes.png",
          "mtimeMs": 1592063625052.7954,
          "ctimeMs": 1592063625056.7986,
          "date": "2020-06-13T15:57:24.950Z"
        },
        {
          "file": "img/images/horn.png",
          "mtimeMs": 1592063665004.8618,
          "ctimeMs": 1592063665006.8625,
          "date": "2020-06-13T15:57:27.163Z"
        },
        {
          "file": "img/images/kristina.png",
          "mtimeMs": 1592063668380.0906,
          "ctimeMs": 1592063668387.0962,
          "date": "2020-06-13T15:57:27.917Z"
        },
        {
          "file": "img/images/lets.png",
          "mtimeMs": 1592063670850.328,
          "ctimeMs": 1592063670851.3289,
          "date": "2020-06-13T15:57:28.476Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1592063673177.8784,
          "ctimeMs": 1592063673178.879,
          "date": "2020-06-13T15:57:29.887Z"
        },
        {
          "file": "img/images/main.png",
          "mtimeMs": 1592063677936.3784,
          "ctimeMs": 1592063677937.3784,
          "date": "2020-06-13T15:57:30.593Z"
        },
        {
          "file": "img/images/usefull.png",
          "mtimeMs": 1592063681130.0747,
          "ctimeMs": 1592063681131.0757,
          "date": "2020-06-13T15:57:31.194Z"
        },
        {
          "file": "img/images/wishes-1.png",
          "mtimeMs": 1592063683988.93,
          "ctimeMs": 1592063683989.931,
          "date": "2020-06-13T15:57:31.702Z"
        },
        {
          "file": "img/images/wishes-2.png",
          "mtimeMs": 1592063686918.08,
          "ctimeMs": 1592063686926.0857,
          "date": "2020-06-13T15:57:32.209Z"
        },
        {
          "file": "img/images/wishes-3.png",
          "mtimeMs": 1592063689709.7024,
          "ctimeMs": 1592063689710.7024,
          "date": "2020-06-13T15:57:32.777Z"
        },
        {
          "file": "img/images/wishes-4.png",
          "mtimeMs": 1592063692922.6133,
          "ctimeMs": 1592063692923.614,
          "date": "2020-06-13T15:57:33.940Z"
        },
        {
          "file": "img/images/wishes-5.png",
          "mtimeMs": 1592063696270.694,
          "ctimeMs": 1592063696271.6953,
          "date": "2020-06-13T15:57:34.533Z"
        },
        {
          "file": "img/images/wishes-6.png",
          "mtimeMs": 1592063699515.4285,
          "ctimeMs": 1592063699515.4285,
          "date": "2020-06-13T15:57:35.216Z"
        },
        {
          "file": "img/images/wishes-7.png",
          "mtimeMs": 1592063702195.7031,
          "ctimeMs": 1592063702199.7058,
          "date": "2020-06-13T15:57:35.824Z"
        },
        {
          "file": "img/images/wishes-8.png",
          "mtimeMs": 1592063704482.6125,
          "ctimeMs": 1592063704496.6218,
          "date": "2020-06-13T15:57:36.306Z"
        },
        {
          "file": "img/images/wrapper.png",
          "mtimeMs": 1592063707907.2437,
          "ctimeMs": 1592063707908.2456,
          "date": "2020-06-13T15:57:36.976Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1592054127188.2556,
          "ctimeMs": 1592054127188.2556,
          "date": "2020-06-13T15:57:37.629Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1592206749994.385,
          "ctimeMs": 1592206749994.385,
          "date": "2020-06-15T07:39:27.102Z"
        },
        {
          "file": "img/images/benefits.png",
          "mtimeMs": 1592063662636.932,
          "ctimeMs": 1592063662637.9329,
          "date": "2020-06-13T15:57:26.651Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1592062775934.74,
          "ctimeMs": 1592062775934.74,
          "date": "2020-06-13T15:57:38.173Z"
        },
        {
          "file": "img/icons/soc-buttons.png",
          "mtimeMs": 1592063652303.1028,
          "ctimeMs": 1592063652303.1028,
          "date": "2020-06-13T15:57:25.474Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1592063655622.0688,
          "ctimeMs": 1592063655622.0688,
          "date": "2020-06-13T15:57:25.974Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": false,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "promo\\index.html"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "img/backs/plan.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 51628,
          "optimized": true
        }
      },
      {
        "file": "img/backs/wishes.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 268186,
          "optimized": true
        }
      },
      {
        "file": "img/icons/soc-buttons.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 4071,
          "optimized": true
        }
      },
      {
        "file": "img/icons/tg.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 615,
          "optimized": true
        }
      },
      {
        "file": "img/images/benefits.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 230707,
          "optimized": true
        }
      },
      {
        "file": "img/images/horn.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 18348,
          "optimized": true
        }
      },
      {
        "file": "img/images/kristina.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 961176,
          "optimized": true
        }
      },
      {
        "file": "img/images/lets.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 125002,
          "optimized": true
        }
      },
      {
        "file": "img/images/logo.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 5011,
          "optimized": true
        }
      },
      {
        "file": "img/images/main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 167299,
          "optimized": true
        }
      },
      {
        "file": "img/images/usefull.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 130092,
          "optimized": true
        }
      },
      {
        "file": "img/images/wishes-1.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 10150,
          "optimized": true
        }
      },
      {
        "file": "img/images/wishes-2.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 11839,
          "optimized": true
        }
      },
      {
        "file": "img/images/wishes-3.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 10397,
          "optimized": true
        }
      },
      {
        "file": "img/images/wishes-4.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 9337,
          "optimized": true
        }
      },
      {
        "file": "img/images/wishes-5.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 9124,
          "optimized": true
        }
      },
      {
        "file": "img/images/wishes-6.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 10273,
          "optimized": true
        }
      },
      {
        "file": "img/images/wishes-7.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 9702,
          "optimized": true
        }
      },
      {
        "file": "img/images/wishes-8.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 13176,
          "optimized": true
        }
      },
      {
        "file": "img/images/wrapper.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 54261,
          "optimized": true
        }
      }
    ]
  }
}
