#main
	padding 0 0 90px
	background-color: #f9f3ec
.main-title
	font-size: 40px
	font-family: MBk
	font-weight: 900
	color #330e0b
	margin 50px 0 40px
	small
		display block
		font-size: 20px
		font-family: M
		font-weight: normal
.main-info
	font-size: 20px
	span
		display inline-block
.button-main
	margin 50px 0 0
.main-img
	display block
	width 100%
	max-width 670px
	margin 0 auto