.modal
	display none
	cursor auto !important
	padding 30px
	background-color: #fff
	border-radius: 30px
.fancybox-slide--html .fancybox-close-small
	opacity 1
	transition: all .5s ease
	outline: 0
	top 20px
	right 20px
	&:hover
		transform: rotateX(180deg)