@media screen and (min-width 2256px)
	body
		font-size: 20px
	.container
		width 1400px
	.packet
		max-width none
	.packet-body
		min-height 384px
	.general-title-author
		margin-top: 70px
	.module-2
		min-height 696px
	.module-4
		min-height 489px
@media screen and (max-width 1199px)
	.main-title
		margin-top: 0
	.lets-img-1
	.lets-img-2
		margin-top: 100px
	.module-2
		min-height 756px
	.module-3
		min-height 543px
	.technics-img
		margin-top: 150px
	.packet-body
		min-height 576px
@media screen and (max-width 991px)
	#main
		text-align center
	.button-main
		margin 40px auto
	.lets-img-1, .lets-img-2, .technics-img
		margin 0 auto 30px
	.module
	.packet-body
		min-height 1px
	.author-img
		margin 0 auto 35px
	#author
		padding 40px 0
	#lets
	#technics
	#prices
	#plan
	#last
		padding 40px 0
	.last-title
		font-size: 50px
	.last-text
		font-size: 32px
		margin 40px 0
@media screen and (max-width 767px)
	.header-logo
		float: none
		display block
		margin 0 auto 5px
	.contacts
		float: none
		text-align center
		line-height: 1
	.contact
		display inline-block
		line-height: 1
	#main
		padding 0 0 40px
	#last
		padding 50px 0
	.last-title
		font-size: 40px
	.last-text
		font-size: 26px
		margin 20px 0
@media screen and (max-width 560px)
	header
		margin-bottom: 10px
		padding 10px 0
	.header-logo
		width 70px
		margin-bottom: 0
	.contact
		font-size: 12px
	.main-title
		font-size: 28px
	.module-title
		font-size: 20px
	.general-title
		font-size: 26px
		margin-bottom: 20px
	footer
		font-size: 12px
		padding 15px 0
		h5
			font-size: 18px
	.soc-buttons a
		margin 10px 5px
	.last-title
		font-size: 32px
	.last-text
		font-size: 22px
	.flip-clock-wrapper
		width 100%
		max-width 260px
		margin-top: 20px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
	.prepayment-title
	.timer-title
		font-size: 28px
	.prepayment
		margin-top: 0
@media screen and (max-width 385px)
	#main
		padding 0 0 30px
	.main-title
		font-size: 26px
		margin-bottom: 20px
		small
			font-size: 16px
	.main-info
		font-size: 18px
	.button-main
		margin 20px auto 30px
	#lets .row:last-of-type
		margin-top: 30px
	#last, #lets, #plan, #prices, #technics
		padding 30px 0
	.module
		padding 30px
	.general-title
		font-size: 24px
	.technics-list li
		padding-left: 0
		&:last-child
			margin-bottom: 0
	.technics-list li:before
		position: static
	.packet
		padding 30px 30px 40px
	.modal
		padding: 20px
	.prepayment-text
		font-size: 18px
	.timer-title
		font-size: 24px
		line-height: 1.2
		margin-top: 20px
	.last-title
		font-size: 26px
	.last-text
		font-size: 18px