#feedback
	width 100%
	padding 50px 0
	background-color: #fff
	min-height calc(100vh - 885px)
#vk
#fb
	background-color: #fff
	border: 1px solid #b76afb
	overflow hidden
	box-shadow: 0px 1px 44.16px 1.84px rgba(0,0,0,0.1)