@media screen and (min-width 2256px)
	body
		font-size: 20px
	.container
		width 1400px
@media screen and (max-width 767px)
	#main
		padding 0 0 60px
	.header-logo
		float: none
		display block
		margin 0 auto 5px
	.contacts
		float: none
		text-align center
		line-height: 1
	.contact
		display inline-block
		line-height: 1
	.main-title
		font-size: 32px
	#vk
		margin-bottom: 25px
@media screen and (max-width 560px)
	#main
		padding 0 0 40px
	header
		margin-bottom: 10px
		padding 10px 0
	.header-logo
		width 70px
		margin-bottom: 0
	.contact
		font-size: 12px
	.main-title
		font-size: 28px
	// .main-subtitle
	// 	font-size: 20px
	// 	margin 30px 0 10px
	.main-info
		font-size: 18px
	#feedback
		padding 40px 0
	.general-title
		font-size: 22px
		margin-bottom: 25px
	footer
		font-size: 12px
		padding 15px 0
		h5
			font-size: 18px
	.soc-buttons a
		margin 10px 5px
@media screen and (max-width 385px)
	.main-title
		font-size: 26px
		line-height: 1
	.wrapper-decorated
		padding-top: 25px
	.main-subtitle
		margin-bottom: 5px
		font-size: 18px
	#feedback
		padding 30px 0
	.general-title
		font-size: 22px