@import 'base/fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/jquery.fancybox.min.css'
@import '../_css/flipclock.min.css'

@import 'base/base'

@import 'base/header'
@import 'course/1.main'
@import 'course/2.lets'
@import 'course/3.plan'
@import 'course/4.techs'
@import 'course/5.prices'
@import 'main/8.kristina'
@import 'main/9.last'
@import 'base/footer'
@import 'course/7.modal'
@import 'course/8.medias'