#main
	padding 0 0 90px
	background-color: #f9f3ec
	.container
		position relative
	&.remind
		text-align center
		min-height calc(100vh - 168px)
.main-title
	font-size: 40px
	font-family: MBk
	font-weight: 900
	color #330e0b
	a
		color #b76afb
		border-bottom: 1px dotted
		&:focus
			color #b76afb
		&:hover
			color #b76afb
			border-bottom-color transparent
.main-subtitle
	font-size: 22px
	font-family: M
	margin 20px 0
.main-info
	span
		display inline-block
.main-img
	display block
	width 100%
	max-width 670px
	margin 0 auto
.form-main-wrapper
	position relative
.form
	background-color: #b76afb
	box-shadow: 0px 1px 44.16px 1.84px rgba(0, 0, 0, 0.1);
	padding 30px
	&-main
		position absolute
		bottom -250px
		width 100%
		left 0
		right 0
		&:before
			content ''
			display block
			position absolute
			width 247px
			height 269px
			background-image url(../img/images/horn.png)
			background-repeat no-repeat
			background-position: center
			background-size contain
			top -20px
			left -40px
	&-title
		color #fff
		font-size: 30px
		font-family: MBd
		font-weight: bold
		margin-bottom: 30px
		text-align center
.form-wrapper
	width 100%
	max-width 650px
	margin 0 auto
.input
	border 1px solid rgb(255, 255, 255);
	width 100%
	max-width: 300px;
	background-color: transparent
	padding 18px 30px
	color #fff
	font-size: 16px
	display block
	margin 0 auto 10px
	border-radius: 0
	&-mail-main
		float left
		margin-bottom: 0
.button-form
	border 1px solid rgb(255, 255, 255);
	padding 18px 10px
	max-width 300px
	&-main
		float: right
@-webkit-keyframes autofill
	to
		font-size: 16px
		color: #fff
		background-color: transparent
input:-webkit-autofill
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
.alert-message {
	clear both
	display: none;
	font-size: 16px;
	padding-top: 10px;
	color: #f00
	text-align: center
	font-family: MBd
	font-weight: bold
	line-height: 1
}
.checking {
	display: table;
	width 100%
	max-width 515px
	margin: 5px auto 0
	text-align: left
}

.checking .check-label {
	line-height: 40px;
	cursor: pointer;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 40px;
	text-align: left;
	font-size: 13px
	font-weight: 100
	color #fff
}

.checking .check-label a
	text-decoration: none
	border-bottom: 1px dashed
	display: inline
	color #fff
	&:focus
		border-bottom: 1px dashed
		color #fff
	&:hover
		border-bottom: none
		text-decoration: none
		color #fff

.checking .check-label:before {
	content: '';
	background-color: #fff
	position: absolute;
	left: 0;
	top: 3px;
	width: 31px;
	height: 31px;
	border none
}

.checking .check-label:after {
	content: '';
	position: absolute;
	left: 10px;
	top: -10px;
	width: 11px;
	height: 18px;
	background-color: transparent;
	opacity: 0;
	border-bottom: 2px solid #9620ff
	border-right: 2px solid #9620ff
	-webkit-transform: rotate(41deg);
	-ms-transform: rotate(41deg);
	transform: rotate(41deg);
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

}

.check {
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 0;
	height 0;
	border: 0;
	left -99999px;
}

.check:checked + .check-label:before {
	background-color: #fff

}

.check:checked + .check-label:after {
	opacity: 1;
	top: 7px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
::-webkit-input-placeholder {color:#fff; opacity:1;}/* webkit */
::-moz-placeholder          {color:#fff; opacity:1;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff; opacity:1;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff; opacity:1;}/* IE */

.switch-form
	bottom: -300px
.switch-text
	text-align center
.hurryup
	display inline-block
	background-color: yellow
	margin -10px 0 20px