@media screen and (min-width 2256px)
	body
		font-size: 20px
	.container
		width 1400px
	.general-title-author
		margin-top: 70px
@media screen and (max-width 1199px)
	.form-main
		bottom: -290px
		&:before
			left -140px
	.benefits-img
		margin-top: 350px
	.usefull-img
		margin-top: 250px
	.lets-img
		margin-top: 150px
	.wish-item
		min-height 428px
	.switch-form
		bottom: -340px
@media screen and (max-width 991px)
	.main-img
		margin-top: 30px
	.form-main:before
		left -220px
	.wish-item
		min-height 320px
	.benefits-img
	.usefull-img
	.lets-img
	.author-img
		margin 0 auto 35px
	#author
	#last
		padding 70px 0
	.last-title
		font-size: 50px
	.last-text
		font-size: 32px
		margin 40px 0
@media screen and (max-width 767px)
	.header-logo
		float: none
		display block
		margin 0 auto 5px
	.contacts
		float: none
		text-align center
		line-height: 1
	.contact
		display inline-block
		line-height: 1
	#main
		text-align center
		padding 0 0 40px
	.main-title
		font-size: 32px
	.form-main
		position: static
		margin-top: 40px
		&:before
			width 150px
			height 170px
			position: static
			margin 0 auto 10px
	.input-mail-main
		float: none
		display block
		margin 0 auto 10px
	.button-form-main
		float: none
	#video
		padding 40px 0 90px
		text-align center
	.button-left
		margin-left: auto
	.wish-item
		min-height 1px
		margin 70px auto 120px
		&-8
			margin-bottom: 40px
	#benefits
		padding 90px 0 40px
	#plan
		padding 40px 0
	#usefull
		padding 40px 0
	#last
		padding 50px 0
	.last-title
		font-size: 40px
	.last-text
		font-size: 26px
		margin 20px 0
	.checking
		max-width 300px
	.checking .check-label
		line-height: 18px
@media screen and (max-width 560px)
	#main
		padding 0 0 40px
	header
		margin-bottom: 10px
		padding 10px 0
	.header-logo
		width 70px
		margin-bottom: 0
	.contact
		font-size: 12px
	.main-title
		font-size: 28px
	.form
		padding 20px
	.form-title
	.general-title
		font-size: 26px
		margin-bottom: 20px
	.general-title-video
		margin-top: 0
	footer
		font-size: 12px
		padding 15px 0
		h5
			font-size: 18px
	.soc-buttons a
		margin 10px 5px
	.form-modal
		padding 30px
	.day
		padding 30px
		border-radius: 40px
	.day-list
		margin 30px 0 20px
	#author, #last
		padding 40px 0
	.last-title
		font-size: 32px
	.last-text
		font-size: 22px
@media screen and (max-width 385px)
	.main-title
		font-size: 24px
	.main-subtitle
		font-size: 20px
	.wrapper-decorated
		padding-top: 25px
		margin-top: 30px
	.form-main:before
		width 100px
		height 115px
	.form-title, .general-title
		font-size: 24px
	.video-text
		margin-bottom: 20px
	#video
		padding 30px 0 60px
	.benefits-list li
		padding-left: 0
		&:before
			position: static
			margin-bottom: 10px
	.day-list
		margin 20px 0 10px
	.benefits-list li:last-child
	.lets-list
		margin-bottom: 20px
	.last-title
		font-size: 26px
	.last-text
		font-size: 18px