#plan
	padding 90px 0
	background-color: #f9f3ec
	background-image url(../img/backs/plan.png)
	background-repeat no-repeat
	background-position: center bottom
	// background-size contain
.day
	border-radius: 70px;
	box-shadow: 0px 1px 44.16px 1.84px rgba(0, 0, 0, 0.1);
	padding 70px 50px
	background-color #fff
	width 100%
	max-width 530px
	margin 0 auto 40px
	&-title
		font-size: 20px
		font-family: MBk
		font-weight: 900
	&-list
		margin 40px 0 30px
		li
			list-style: none
	&-bonus
		span
			font-size: 20px
			font-family: MBk
			font-weight: 900
			color #9620ff
			text-transform uppercase