#author
	padding 40px 0 90px
.author-img
	display block
	margin 0 auto
	width 100%
	max-width 670px
.author-subtitle
	font-size: 20px
	margin-bottom: 25px
.author-education-title
	font-size: 20px
	font-family: MBd
	font-weight: bold
	margin 35px 0 10px
.author-list
	list-style: none