#last
	padding 90px 0
	background-color: #f9f3ec
	text-align center
.last-title
	font-size: 60px
	font-family: MBk
	font-weight: 900
	color #b76afb
	text-transform uppercase
.last-text
	text-transform uppercase
	font-size: 40px
	margin 70px 0 40px