M = 'Montserrat', sans-serif
MBk = 'MontserratBlack', sans-serif
MBd = 'MontserratBold', sans-serif

@font-face {
	font-family: 'Montserrat';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: local url('../fonts/Montserrat.eot');
	src: url('../fonts/Montserrat.eot');
	src: url('../fonts/Montserrat.eot') format('embedded-opentype'),
		 url('../fonts/Montserrat.woff2') format('woff2'),
		 url('../fonts/Montserrat.woff') format('woff'),
		 url('../fonts/Montserrat.ttf') format('truetype'),
		 url('../fonts/Montserrat.svg#Montserrat') format('svg');
}
@font-face {
	font-family: 'MontserratBlack';
	font-display: fallback;
	font-weight: 900;
	font-style: normal;
	src: local url('../fonts/MontserratBlack.eot');
	src: url('../fonts/MontserratBlack.eot');
	src: url('../fonts/MontserratBlack.eot') format('embedded-opentype'),
		 url('../fonts/MontserratBlack.woff2') format('woff2'),
		 url('../fonts/MontserratBlack.woff') format('woff'),
		 url('../fonts/MontserratBlack.ttf') format('truetype'),
		 url('../fonts/MontserratBlack.svg#MontserratBlack') format('svg');
}
@font-face {
	font-family: 'MontserratBold';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: local url('../fonts/MontserratBold.eot');
	src: url('../fonts/MontserratBold.eot');
	src: url('../fonts/MontserratBold.eot') format('embedded-opentype'),
		 url('../fonts/MontserratBold.woff2') format('woff2'),
		 url('../fonts/MontserratBold.woff') format('woff'),
		 url('../fonts/MontserratBold.ttf') format('truetype'),
		 url('../fonts/MontserratBold.svg#MontserratBold') format('svg');
}
