section#video
	.container
		.row
			.col-md-6.col-md-push-6
				+gt('general-title-video','Человеческая речь – это не просто инструмент для общения')
				p.video-text Наша речь – это КЛЮЧ К СОБСТВЕННОЙ ЛИЧНОСТИ. Когда мы приводим в порядок речь, мы автоматически приводим в порядок наши мысли, наши взаимоотношения и нашу жизнь
				+b('button-left button-up','#Modal','Записаться')
			.col-md-6.col-md-pull-6
				.wrapper-decorated
					.video-wrapper.video-wrapper-video
						iframe(src="https://youtube.com/embed/e-mntBT8q3g?autoplay=1&mute=1&modestbranding=1" allowfullscreen)