mixin wi(cl,p)
	.col-md-4.col-sm-4
		.wish-item(class=cl)
			p.wish-item-text=p
section#wishes
	.container
		+gt('general-title-center','Участие в мастер-классе Кристины Граник - это исполнение долгожданных желаний')
		.row
			+wi('wish-item-1','Вы поймёте, с чем на самом деле связаны трудности, которые возникают у вас во время речи')
			+wi('wish-item-2','Узнаете, как работать над речью, чтобы эффект остался на всю жизнь. Очистите свою речь от слов-паразитов')
			+wi('wish-item-3','Научитесь качественно готовиться к любому выступлению, не боясь забыть текст')
			+wi('wish-item-4','Узнаете, почему у одних людей голос красивый, а у других – нет, и что делать, если вы попали в первую категорию.')
		.row
			+wi('wish-item-5','Сможете с помощью слов всегда добиваться своей цели. Будете с лёгкостью удерживать внимание аудитории')
			+wi('wish-item-6','Заговорите так, чтобы всем сразу было очевидно, что вы – профессионал. Освоите профессиональную работу с камерой')
			+wi('wish-item-7','Прокачаете свою харизму, чтобы окружающие хотели слушать вас ещё и ещё')
			+wi('wish-item-8','Перестанете получать провокационные вопросы и неприятные комментарии')
		+b('button-up','#Modal','Записаться')