mixin wi(n,p)
	.col-md-3.col-sm-6
		.wish-item(class="wish-item-"+n)
			img(src=path+"img/images/wishes-"+n+".png", alt=p).wish-item-img(class="wish-item-img-"+n)
			p.wish-item-text=p
section#wishes
	.container
		+gt('general-title-center','Участие в мастер-классе Кристины Граник - это исполнение долгожданных желаний')
		.row
			+wi('1','Вы поймёте, с чем на самом деле связаны трудности, которые возникают у вас во время речи')
			+wi('2','Узнаете, как работать над речью, чтобы эффект остался на всю жизнь. Очистите свою речь от слов-паразитов')
			+wi('3','Научитесь качественно готовиться к любому выступлению, не боясь забыть текст')
			+wi('4','Узнаете, почему у одних людей голос красивый, а у других – нет, и что делать, если вы попали в первую категорию.')
		.row
			+wi('5','Сможете с помощью слов всегда добиваться своей цели. Будете с лёгкостью удерживать внимание аудитории')
			+wi('6','Заговорите так, чтобы всем сразу было очевидно, что вы – профессионал. Освоите профессиональную работу с камерой')
			+wi('7','Прокачаете свою харизму, чтобы окружающие хотели слушать вас ещё и ещё')
			+wi('8','Перестанете получать провокационные вопросы и неприятные комментарии')
		+b('button-up','#Modal','Записаться')