section#benefits
	.container
		.row
			.col-md-6.col-sm-6
				img(src=path+"img/images/benefits.png", alt="Преимущества мастер-класса").benefits-img
			.col-md-6.col-sm-6
				+gt('','Преимущества мастер-класса')
				ul.benefits-list
					li
						span Для всех и каждого. 
						| Этот мастер-класс будет полезен абсолютно всем, чтобы говорить уверенно и из каждого диалога получать пользу
					li
						span Признание без напряга. 
						| На этом мастер-классе вы поймёте, что нужно сделать, чтобы перестать заслуживать право голоса и доказывать право на существование, а также почему нет смысла тратить деньги на тренинги по ораторскому мастерству и публичным выступлениям
					li
						span Взгляд со стороны. 
						| Вы получите полную картину происходящего с вами и вашей речью, а не просто набор голосовых разминок и скороговорок
					li
						span Прямая связь с тренером. 
						| Вы сможете задать любые вопросы, касающиеся речи и получить профессиональные ответы
					li
						span Попробовать и понять. 
						| Открытый 3-дневный мастер-класс – это отличная возможность прикоснуться к полному курсу, так как эти три занятия являются его первыми уроками
					li
						span Знания для перемен. 
						| Ваша жизнь изменится уже после 3-дневного мастер-класса, потому что такого о вашей речи вам точно ещё не рассказывали
				+b('button-left button-up','#Modal','Мне нужны перемены')