mixin d(cl,h4,bonus,...items)
	.col-md-4
		.day(class=cl)
			h4.day-title=h4
			ul.day-list
				each item in items
					li= item
			p.day-bonus
				span Бонус! 
				=bonus

section#plan
	.container
		+gt('general-title-center','Программа мастер-класса')
		.row
			+d('day-1','День первый','Практическая инструкция по избавлению от слов-паразитов','- Как ваши цели зависят от способности говорить о них','- Из чего складывается некачественная речь','- Почему слова не работают и на чём на самом деле основано восприятие нас и нашей информации окружающими','- Чек-лист основных характеристик речи, на которые стоит обратить внимание')
			+d('day-2','День второй','Эффективная репетиция – уникальный материал о качественной подготовке своего выступления к эфиру на основании своего психотипа и особенностей личности, без применения стереотипных ораторских техник','- Почему голос одних притягивает, а других отталкивает','- Как стать обладателем завораживающего голоса','- Управление впечатлением через звучание голоса','- Учимся заявлять о своём профессионализме, не произнося ни слова','- Взаимосвязь разборчивости речи и интеллекта','- Практические техники работы с речевым аппаратом')
			+d('day-3','День третий','Лингвистическая игра для развития способности быстро подбирать нужные слова','- Влияние детских историй на способность говорить во взрослой жизни','- Откуда берётся волнение и как его нейтрализовать','- Как начать ясно формулировать мысли и расширить словарный запас')
		+b('button-up','#Modal','Иду на мастер-класс')