section#usefull
	.container
		.row
			.col-md-6.cl-sm-6
				img(src=path+"img/images/usefull.png", alt="Этот мастер-класс будет полезен тем, кто:").usefull-img
			.col-md-6.cl-sm-6
				+gt('','Этот мастер-класс будет полезен тем, кто:')
				ul.usefull-list
					li - Понимает, что от качества речи зависит карьера и успех;
					li - Испытывает трудности с привлечением клиентов;
					li - Собирается работать в онлайн-пространстве, но при включенной веб-камере чувствует себя некомфортно;
					li - Стесняется собственного голоса и критикует свою речь;
					li - Хочет наладить диалог с близкими людьми;
					li - Не может добиться того, чтобы ребёнок его слушался и понимал, о чём его просят;
					li - С трудом доносит до сотрудников смысл поставленных задач или их понимают в искажённом виде;
					li - Хочет научиться договариваться в сложных ситуация (например, с конфликтными соседями или сотрудниками ДПС и т.д.);
					li - Часто выступает на публике, но каждый раз идеальному результату мешает волнение;
					li - Переживает, что никому не интересно то, что он говорит;
					li - Страдает из-за того, окружающие его не замечают и не ценят