section#lets
	.container
		.row
			.col-md-6.col-md-push-6
				img(src=path+"img/images/lets.png", alt="Мастер-класс позволит вам:").lets-img
			.col-md-6.col-md-pull-6
				+gt('','Мастер-класс позволит вам:')
				ul.lets-list
					li - Протестировать уровень качества своей речи;
					li - Разобраться, какие характеристики вашей речи могут усилить благоприятное впечатление о вас;
					li - Понять, как говорить так, чтобы вызывать доверие и уважение;
					li - Составить детальный план проработки своих речевых навыков;
					li - Раз и навсегда решить проблему с нехваткой словарного запаса;
					li - Понять свои причины страха и волнения во время выступлений и переговоров;
					li - Перестать бояться камеры;
					li - Выработать свой личный план подготовки к выступлениям;
					li - Начать использовать способность говорить для быстрой реализации любых целей
				+b('button-left button-up','#Modal','Мне это необходимо')