section#author
	.container
		.row
			.col-md-6
				img(src=path+"img/images/kristina.png", alt="Кристина Граник").author-img
			.col-md-6
				+gt('general-title-author','Кристина Граник','О тренере')
				h4.author-subtitle Радиоведущая (Русское Радио, Радио Дача, Love Radio, Mediametrics, Радио-1)
				ul.author-list
					li - Телеведущая (Russian MusicBox, ТВЦ)
					li - Актриса пластической труппы «Аппарат.Театр»
				h5.author-education-title Образование:
				ul.author-list
					li - Институт медицинской психологии (курсы «Афазия», «Нейропсихология», «Заикание»);
					li - СПБГУ (курс «Психолингвистика»);
					li - Логопедический центр «Логопед Плюс» (курс «Заикание», курс «Нейропсихология творчества»);
					li - Литературная школа Creative Writing School (курс Марины Степновой);
					li - Gogol School (актёрская и пластическая лаборатории Родиона Барышева и Павла Ващилина);
					li - Студия «Говори Свободно» (курс автора книг-бестселлеров о голосе Ларисы Соловьёвой);
					li - Индивидуальные занятия сценической речью;
					li - Курс Ильи Прудовского (диктор Всесоюзного Радио, голос аудиокниг);
					li - Курс Елены Шкурпело (актриса театра, педагог по сценречи)