section#main
	.container
		include ../base/header.pug
		h1.main-title 
			span Поздравляем!
			| Вы зарегистрированы на мастер-класс «Искусство говорить как способ достижения любой цели»
		.row
			.col-md-6
				.wrapper-decorated
					.video-wrapper.video-wrapper-main
						iframe(src="https://youtube.com/embed/?autoplay=1&mute=1&modestbranding=1" allowfullscreen)
			.col-md-6
				h2.main-subtitle
					span Подписывайтесь на наш Телеграм-канал и получайте много полезного контента!
				p.main-text А также у вас будет возможность задать любой вопрос!
				a.button.button-promo(href="https://tlgg.ru/joinchat/AAAAAFPY7DbPTzPhK3dP4g" target="_blank") Подписаться 
					img(src=path+"img/icons/tg.png", alt="Telegram").tg-white