section#main
	.container
		include ../base/header
		.row
			.col-md-6
				h1.main-title 
					small обучающий курс
					| Искусство говорить
				p.main-info Старт: 
					span 3 июля, в 19:00 (мск)
				p.main-info Автор: 
					span Кристина Граник
				+b('button-main','#prices','Записаться')
			.col-md-6
				img(src=path+"img/images/main.png", alt="Искусство говорить как способ достижения любой цели").main-img