section#lets
	.container
		+gt('general-title-center','Этот курс поможет Вам:')
		.row
			.col-md-6.cl-sm-6
				img(src=path+"img/images/usefull.png", alt="Этот курс поможет Вам:").lets-img.lets-img-1
			.col-md-6.cl-sm-6
				ul.lets-list
					li - Сделать ваши слова ценными и важными для окружающих;
					li - Перестать бояться выражать своё мнение;
					li - Научиться отвечать на неудобные вопросы и провокации;
					li - Начать получать удовольствие от диалогов с людьми;
					li - Навести порядок в своих мыслях;
					li - Осознать свою ценность;
					li - Наладить диалог с близкими;
					li - Помочь окружающими полюбить и принять вас;
					li - Научиться сортировать весь хаотичный объём информации, которым вы владеете, раскладывая его на понятные и интересные для аудитории порции;
					li - Заново изучить себя – своё тело, свой голос, свою мимику, а, может быть, впервые познакомиться с собой настоящим;
		.row
			.col-md-6.col-md-push-6
				img(src=path+"img/images/lets.png", alt="Этот курс поможет Вам:").lets-img.lets-img-2
			.col-md-6.col-md-pull-6
				ul.lets-list
					li - Прокачать все технические аспекты  речи, чтобы начать получать удовольствие от собственного выступления;
					li - Почувствовать себя уверенно в ситуациях, когда необходимо держать слово (выражать своё мнение, отвечать на вопросы, произносить поздравительные речи, давать задания другим людям и т.п.;
					li - Повысить свою значимость в глазах окружающих, сделать своё мнение нужным и важным для других;
					li - Добиться того, чтобы ваши идеи и предложения стали слушать внимательнее;
					li - Сменить свой образ в глазах социума, который начнёт воспринимать вас всерьёз;
					li - Легче выражать то, что вы на самом деле думаете;
					li - Превратить способность говорить из просто функции “по умолчанию” в мощный инструмент достижения собственных целей.