section#technics
	.container
		.row
			.col-md-6
				img(src=path+"img/images/benefits.png", alt="Преимущества мастер-класса").benefits-img
			.col-md-6
				+gt('','Техники, которые Вы освоите на курсе:')
				ul.benefits-list
					li
						span Работа с камерой
						|  – техники и приёмы, которыми владеют сотрудники телевидения
					li
						span Работа с текстом
						|  – авторское понимание законов построения текста для выступления и чтения, которые помогут захватывать и удерживать внимание
					li
						span Техника речи
						|  – голосовые, дыхательные, артикуляционные и дикционные практики для качественного звучания речи и раскрытия возможностей речевого аппарата
					li
						span Нейрокоррекционные методики
						|  для усиления техники речи
					li
						span Телесные практики
						|  для снятия зажимов и раскрытия возможностей