.modal#Modal-1
	.modal-module-1
		h4.module-title Модуль 1.
			small Основы привлекательной речи
		ul.module-list
			li
				span Тема 1. 
				| Процесс говорения – истинный смысл
			li
				span Тема 2. 
				| Значения слов. Развитие словарного запаса
			li
				span Тема 3. 
				| Речь как творчество. Ассоциативное мышление. Импровизация
			li
				span Тема 4. 
				| Речь как инструкция. Структурное мышление
			li
				span Тема 5. 
				| Истории как способ привлечения и удержания внимания
			li
				span Тема 6. 
				| Физическое напряжение и его связь со способностью говорить
			li
				span Тема 7. 
				| Дыхание и его связь с речью
			li
				span Тема 8. 
				| Голос. Базовые упражнения для раскрытия голоса
			li
				span Тема 9. 
				| Артикуляция. Упражнения
			li
				span Тема 10. 
				| Дикция. Упражнения
			li
				span Тема 11. 
				| Выразительность. Упражнения
.modal#Modal-2
	.row
		.col-md-6
			.modal-module-1
				h4.module-title Модуль 1.
					small Основы привлекательной речи
				ul.module-list
					li
						span Тема 1. 
						| Процесс говорения – истинный смысл
					li
						span Тема 2. 
						| Значения слов. Развитие словарного запаса
					li
						span Тема 3. 
						| Речь как творчество. Ассоциативное мышление. Импровизация
					li
						span Тема 4. 
						| Речь как инструкция. Структурное мышление
					li
						span Тема 5. 
						| Истории как способ привлечения и удержания внимания
					li
						span Тема 6. 
						| Физическое напряжение и его связь со способностью говорить
					li
						span Тема 7. 
						| Дыхание и его связь с речью
					li
						span Тема 8. 
						| Голос. Базовые упражнения для раскрытия голоса
					li
						span Тема 9. 
						| Артикуляция. Упражнения
					li
						span Тема 10. 
						| Дикция. Упражнения
					li
						span Тема 11. 
						| Выразительность. Упражнения
		.col-md-6
			.modal-module-2
				h4.module-title Модуль 2.
					small Речь и страх
				ul.module-list
					li
						span Тема 1.
						|  Рефлексия и перфекционизм. Связь с речью
					li
						span Тема 2.
						|  Ограничивающие убеждения в речи
					li
						span Тема 3.
						|  Выражение себя через слово
					li
						span Тема 4.
						|  Воздействие на слушателя. Зрительный контакт. Работа с камерой
					li
						span Тема 5.
						|  Воздействие на слушателя. Голосовой контакт
					li
						span Тема 6.
						|  Воздействие на слушателя. Энергетический контакт
					li
						span Тема 7.
						|  Воздействие на слушателя. Словесный контакт
					li
						span Тема 8.
						|  Воздействие на слушателя. Итоговое занятие
	.row
		.col-md-6.col-md-offset-3
			.modal-module-3
				h4.module-title Модуль 3.
					small Диалог
				ul.module-list
					li
						span Тема 1.
						|  Ожидания слушателя. Правила взаимодействия с людьми
					li
						span Тема 2.
						|  Аргументация через ценности
					li
						span Тема 3.
						|  Искусство диалога. Навык слушать и задавать вопросы
					li
						span Тема 4.
						|  Искусство диалога. Ответы на неудобные вопросы от слушателя
					li
						span Тема 5.
						|  Работа с провокациями
.modal#Modal-3
	.row
		.col-md-6
			.modal-module-1
				h4.module-title Модуль 1.
					small Основы привлекательной речи
				ul.module-list
					li
						span Тема 1. 
						| Процесс говорения – истинный смысл
					li
						span Тема 2. 
						| Значения слов. Развитие словарного запаса
					li
						span Тема 3. 
						| Речь как творчество. Ассоциативное мышление. Импровизация
					li
						span Тема 4. 
						| Речь как инструкция. Структурное мышление
					li
						span Тема 5. 
						| Истории как способ привлечения и удержания внимания
					li
						span Тема 6. 
						| Физическое напряжение и его связь со способностью говорить
					li
						span Тема 7. 
						| Дыхание и его связь с речью
					li
						span Тема 8. 
						| Голос. Базовые упражнения для раскрытия голоса
					li
						span Тема 9. 
						| Артикуляция. Упражнения
					li
						span Тема 10. 
						| Дикция. Упражнения
					li
						span Тема 11. 
						| Выразительность. Упражнения
		.col-md-6
			.modal-module-2
				h4.module-title Модуль 2.
					small Речь и страх
				ul.module-list
					li
						span Тема 1.
						|  Рефлексия и перфекционизм. Связь с речью
					li
						span Тема 2.
						|  Ограничивающие убеждения в речи
					li
						span Тема 3.
						|  Выражение себя через слово
					li
						span Тема 4.
						|  Воздействие на слушателя. Зрительный контакт. Работа с камерой
					li
						span Тема 5.
						|  Воздействие на слушателя. Голосовой контакт
					li
						span Тема 6.
						|  Воздействие на слушателя. Энергетический контакт
					li
						span Тема 7.
						|  Воздействие на слушателя. Словесный контакт
					li
						span Тема 8.
						|  Воздействие на слушателя. Итоговое занятие
	.row
		.col-md-6
			.modal-module-3
				h4.module-title Модуль 3.
					small Диалог
				ul.module-list
					li
						span Тема 1.
						|  Ожидания слушателя. Правила взаимодействия с людьми
					li
						span Тема 2.
						|  Аргументация через ценности
					li
						span Тема 3.
						|  Искусство диалога. Навык слушать и задавать вопросы
					li
						span Тема 4.
						|  Искусство диалога. Ответы на неудобные вопросы от слушателя
					li
						span Тема 5.
						|  Работа с провокациями
		.col-md-6
			.modal-module-4
				h4.module-title Модуль 4.
					small Презентация продукта, услули, идеи, проекта
				ul.module-list
					li
						span Тема 1.
						|  Виды презентаций, возможности, эффект, цель
					li
						span Тема 2.
						|  Темы, которые вызовут интерес
					li
						span Тема 3.
						|  Каркас выступления – структура
					li
						span Тема 4.
						|  Донесение смысла
					li
						span Тема 5.
						|  Способы подтверждения своей позиции
					li
						span Тема 6.
						|  Способы поддержания интереса и активности аудитории
	.row
		.col-md-6.col-md-offset-3
			.modal-module-5
				h4.module-title Модуль 5.
					small Живая практика с обратной связью
				ul.module-list
					li
						span Занятия 1-4. 
						| Практика